// Buttons
//
// Define your button styling here.
//
// Styleguide ui.buttons


// .button
//
// Default button styles. Extend this class to make a button.
//
// Styleguide ui.buttons.button
.button {
  outline: none;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: none;
}
