// Icons
//
// Define your icon styling here.
//
// Styleguide ui.icons

// .icon
//
// Default icon styles. Extend this class to make an icon.
//
// Styleguide ui.icons.button
.icon {
  display: inline-block;
  font: 0/0 serif;
  text-decoration: none;
}
